@import "../shared/variables.css";

body {
  font-family: regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-font);
  background-color: var(--color-background);
  position: relative;
}

#root {
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}
